@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: neue-haas-grotesk-display, sans-serif;
  }

  body {
    @apply bg-neutral-300;
    @apply text-neutral-900;
  }
}

iframe:focus-visible {
  outline: none;
}

.scrollbar-none {
  scrollbar-width: none;
}

.vue3-marquee > .marquee {
  /* For some reason, vue3 marquee has a vertical scroll on the inner element */
  overflow: hidden;
}
